
<div class="container">
<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Actividades</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="info">
      <th>Nombre de la Actividad</th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Lugar</th>
      <th colspan="3" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @actividads.each do |actividad| %>
      <tr>
        <td><%= actividad.tittle %></td>
        <td><%= actividad.description %></td>
        <td><%= actividad.at_date %></td>
        <td><%= actividad.place %></td>
        <td class="success"><%= link_to 'Ver', actividad %></td>
        <td class="warning"><%= link_to 'Editar', edit_actividad_path(actividad) %></td>
        <td class="danger"><%= link_to 'Eliminar', actividad, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Actividad', new_actividad_path, class:"btn btn-primary" %>
</div>